/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: white;
  /* padding: 10px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar a {
  color: white;
  text-decoration: none;
  /* margin: 0 10px; */
  margin: 10px;
}

.navbar button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.home, .vehicle-list, .booking, .checkout {
  padding: 20px;
  background-color: white;
  /* margin: 20px; */
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form{
   padding: 20px;
  background-color: white;
  width: 350px;
  align-items: center;
  margin-top: 30px;
  margin-left: 35%;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-images img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.error {
  color: #ff0000;
  background-color: #ffebee;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e53935;
  border-radius: 5px;
}

.home-link {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.vehicle-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.vehicle-item img {
  width: 150px;
  height: 100px;
  margin-right: 20px;
}

.book-now {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.auth-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.auth-form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
